h3 {
  color: #222;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.checkout .form-group .form-label {
  font-weight: bold;
  text-transform: capitalize;
  color: #222;
}

.checkout .form-group .form-control {
  margin-bottom: 0;
}

.checkout .form-group .error {
  color: #ff4c3b;
  text-transform: capitalize;
}

.theme-form .form-label {
  font-weight: bold;
  color: #222;
  text-transform: capitalize;
}
