<section class="cart-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">wishlist is empty</h1>
        <div class="table-responsive" *ngIf="wishlist && wishlist.length > 0">
          <table class="table cart-table">
            <thead>
              <th>image</th>
              <th>product name</th>
              <th>price</th>
              <th>availability</th>
              <th>action</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of wishlist; let i = index">
                <td>
                  <a href="">
                    <img
                      height="90px"
                      [src]="item.variants[0].src"
                      alt="product name"
                    />
                  </a>
                </td>
                <td>
                  <a href=""> {{ item.name }} </a>
                </td>
                <td>
                  <h2>${{ item.price - item.offer }}</h2>
                </td>

                <td>
                  <p>in stock</p>
                </td>

                <td>
                  <div class="d-flex gap-2 justify-content-center">
                    <button
                      class="btn btn-light"
                      (click)="deleteFromFavorite(item.id, i)"
                    >
                      <fa-icon [icon]="faX"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row cart-buttons">
      <div
        class="col-12 d-inline-flex gap-2 justify-content-end"
        *ngIf="wishlist && wishlist.length > 0"
      >
        <button class="btn btn-solid">continue shopping</button>
        <button class="btn btn-solid">check out</button>
      </div>
    </div>
  </div>
</section>
