<footer class="footer-light">
  <div class="light-layout">
    <div class="container">
      <section class="small-section border-section border-top-0">
        <div class="row row-gap">
          <div class="col-lg-6">
            <div class="subscribe">
              <div>
                <h4>KNOW IT ALL FIRST!</h4>
                <p>
                  Never Miss Anything From Multikart By Signing Up To Our
                  Newsletter.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form class="form-inline subscribe-form">
              <div class="form-group mx-sm-3">
                <input
                  type="email"
                  name="EMAIL"
                  id="mce-EMAIL"
                  placeholder="Enter your email"
                  class="form-control"
                />
              </div>
              <button type="submit" class="btn rounded-0 btn-solid">
                subscribe
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="light-layout footer-theme py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="img-container">
            <img src="assets/images/logo.png" alt="logo" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            veniam ipsa explicabo voluptates,
          </p>
        </div>
        <div class="col offset-xl-1">
          <h4>Categories</h4>
          <ul>
            <li>
              <a href=""> Womens Fashion </a>
            </li>
            <li>
              <a href=""> Mens Fashion </a>
            </li>
            <li>
              <a href=""> Kids Fashion </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h4>why we choose</h4>
          <ul>
            <li>
              <a href=""> shipping & return </a>
            </li>
            <li>
              <a href=""> secure shopping </a>
            </li>
            <li>
              <a href=""> gallary </a>
            </li>
            <li>
              <a href=""> affiliates </a>
            </li>
            <li>
              <a href=""> contacts </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h4>store information</h4>
          <ul>
            <li>
              <fa-icon
                [styles]="{ color: '#777' }"
                [icon]="faMapMarker"
              ></fa-icon>
              Multikart Demo Store, Demo Store India 345-659
            </li>
            <li>
              <fa-icon [styles]="{ color: '#777' }" [icon]="faPhone"></fa-icon>
              Call Us: 123-456-7898
            </li>
            <li>
              <fa-icon
                [styles]="{ color: '#777' }"
                [icon]="faEnvelope"
              ></fa-icon>
              Email Us: Support@Fiot.Com
            </li>
            <li>
              <fa-icon [styles]="{ color: '#777' }" [icon]="faFax"></fa-icon>
              Fax: 123456
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
