<div class="light-layout">
  <div class="container">
    <section class="small-section border-section border-top-0">
      <div class="row">
        <div class="col-lg-6">
          <div class="subscribe">
            <div>
              <h4>KNOW IT ALL FIRST!</h4>
              <p>
                Never Miss Anything From Multikart By Signing Up To Our
                Newsletter.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <form
            novalidate=""
            action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda"
            target="_blank"
            method="post"
            class="form-inline subscribe-form ng-untouched ng-pristine ng-valid"
          >
            <div class="form-group mx-sm-3">
              <input
                type="email"
                name="EMAIL"
                id="mce-EMAIL"
                placeholder="Enter your email"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-solid">subscribe</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
