<section class="py-5">
  <div class="container">
    <h3>change password</h3>
    <form class="theme-form" [formGroup]="changePasswordForm">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="old password" class="form-label">old password</label>
          <input
            type="password"
            formControlName="oldPassword"
            class="form-control"
          />
          <label for="error" class="text-danger">{{
            errors.oldPassword
          }}</label>
        </div>
        <div class="form-group col-md-12">
          <label for="new password" class="form-label">new password</label>
          <input
            type="password"
            formControlName="newPassword"
            class="form-control"
          />
          <label for="error" class="text-danger">{{
            errors.newPassword
          }}</label>
        </div>
        <div class="form-group col-md-12">
          <label for="confirm new password" class="form-label"
            >confirm new password</label
          >
          <input
            type="password"
            formControlName="confirmNewPassword"
            class="form-control"
          />
          <label for="error" class="text-danger">{{
            errors.confirmNewPassword
          }}</label>

          <label
            for="error"
            *ngIf="changePasswordForm.errors?.['passwordMismatch'] && changePasswordForm.get('confirmNewPassword')?.touched"
            class="text-danger ps-2"
          >
            password should be the same
          </label>
        </div>

        <div class="col-md-12">
          <button
            class="btn btn-solid"
            [disabled]="changePasswordForm.invalid || hasRequest"
            (click)="updatePassword()"
          >
            change password
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
