.error-section {
  padding: 130px 0 140px;
  text-align: center;
}

.error-section h1 {
  font-size: 200px;
  font-weight: 900;
  margin: 0;
  line-height: 0.8;
  color: #aaaaaa;
}

.error-section h2 {
  color: #aaaaaa;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 40px 0;
}
