<section class="py-5">
  <div class="container">
    <div class="row">
      <h3>presonal detail</h3>
      <form class="theme-form">
        <div class="row">
          <div class="col-md-6">
            <label for="first name" class="form-label">first name</label>
            <input
              type="text"
              placeholder="Enter Your First Name"
              class="form-control"
            />
          </div>

          <div class="col-md-6">
            <label for="last name" class="form-label">last name</label>
            <input
              type="text"
              placeholder="Enter Your Last Name"
              class="form-control"
            />
          </div>

          <div class="col-md-6">
            <label for="phone number" class="form-label">phone number</label>
            <input
              type="tel"
              placeholder="Enter Your Phone Number"
              class="form-control"
            />
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">email</label>
            <input type="text" placeholder="Email" class="form-control" />
          </div>

          <div class="col-md-12">
            <label for="write your message" class="form-label"
              >write your message</label
            >
            <textarea
              placeholder="Write Your Message"
              cols="30"
              rows="10"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="row">
      <h3>shipping address</h3>
      <form class="theme-form">
        <div class="row">
          <div class="col-md-6">
            <label for="flat/plot" class="form-label">flat/plot</label>
            <input
              type="text"
              placeholder="company name"
              class="form-control"
            />
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label">address*</label>
            <input type="text" placeholder="Address" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="zip code" class="form-label">zip code*</label>
            <input type="text" placeholder="zip-code" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="country" class="form-label">country*</label>
            <select class="form-control">
              <option value="india">india</option>
              <option value="egypt">egypt</option>
              <option value="uae">uae</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">city*</label>
            <input type="text" placeholder="City" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="region/state" class="form-label">region/state</label>
            <input
              type="text"
              placeholder="region/state"
              class="form-control"
            />
          </div>

          <div class="col-md-12">
            <button class="btn btn-solid">save settings</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
