<section class="py-5">
  <div class="container">
    <div class="row">
      <h3>presonal detail</h3>
      <form class="theme-form" [formGroup]="profileFormGroup">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="first name" class="form-label">first name</label>
              <input
                type="text"
                placeholder="Enter Your First Name"
                class="form-control"
                formControlName="firstName"
              />
              <span class="text-danger">{{ errors.firstName }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="last name" class="form-label">last name</label>
              <input
                type="text"
                placeholder="Enter Your Last Name"
                class="form-control"
                formControlName="lastName"
              />
              <span class="text-danger">{{ errors.lastName }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="phone number" class="form-label">phone number</label>
              <input
                type="text"
                placeholder="Enter Your Phone Number"
                class="form-control"
                formControlName="phone"
              />
              <span class="text-danger">{{ errors.phone }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="email" class="form-label">email</label>
              <input
                type="text"
                placeholder="Email"
                formControlName="email"
                class="form-control"
              />
              <span class="text-danger">{{ errors.email }}</span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="gender" class="form-label">gender</label>
              <select class="form-control" formControlName="gender">
                <option [selected]="true" [disabled]="true">
                  select your gender
                </option>
                <option>Male</option>
                <option>female</option>
              </select>
              <span class="text-danger">{{ errors.gender }}</span>
            </div>
          </div>
        </div>

        <button
          class="btn btn-solid"
          (click)="save()"
          [disabled]="profileFormGroup.invalid"
        >
          save
        </button>
      </form>
    </div>
  </div>
</section>
