.form-control {
  border-radius: 0px;
  padding: 6px 16px;
}

.form-control {
  padding: 13px;
  border-radius: 0;
  border: 1px solid #eeeeee;
}

.theme-card {
  padding: 30px;
  line-height: 1;
  background-color: #fafafa;
}

.form-group label {
  text-transform: capitalize;
  color: #333;
  font-weight: 600;
}

h3,
h4 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #333;
  font-weight: bold;
}

.register-card p {
  font-size: 14px;
  line-height: 2;
  color: #555;
  margin-bottom: 1rem;
  letter-spacing: 0.03rem;
}

.register-card {
  height: calc(100% - 38px);
}
