<div class="container">
  <div class="row py-5">
    <div class="col-lg-6 offset-lg-3">
      <h3>signup</h3>
      <div class="theme-card">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first name" class="form-label">first name</label>
                <input
                  type="text"
                  placeholder="first name"
                  class="form-control"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="last name" class="form-label">last name</label>
                <input
                  type="text"
                  placeholder="last name"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email" class="form-label">email</label>
                <input type="text" placeholder="Email" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password" class="form-label">password</label>
                <input
                  type="password"
                  placeholder="Enter Your Password"
                  class="form-control"
                />
              </div>
            </div>
          </div>

          <button class="btn btn-solid">login</button>
        </form>
      </div>
    </div>
  </div>
</div>
