.product-service {
  margin-bottom: 30px;
  padding: 0 30px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
.media {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #dddddd;
  padding: 30px 0px;
}

.media .media-body h4 {
  letter-spacing: 0.03em;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.media .media-body p {
  margin-bottom: 0;
  color: #777777;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.media:last-child {
  border: 0;
}

.border-dashed {
  border-top: 1px dashed #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
}

del {
  font-size: 14px;
  color: #777777;
}

.product-right h4 span {
  color: #ff4c3b;
  font-size: 16px;
}

.product-right h2 {
  font-size: 25px;
}

.product-right h4 {
  color: #ff4c3b;
}

.product-right h3 {
  color: #222;
}

.product-right h5 {
  color: #ff4c3b;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
}

.product-inventory p {
  text-transform: capitalize;
  font-size: 14px;
  color: #777777;
}

.product-inventory .inventory {
  height: 10px;
  border-radius: 15px;
  background-color: #aaa;
}

.product-inventory .inventory span {
  background-color: #ff4c3b;
  display: block;
  height: 100%;
  border-radius: 15px;
}

.product-discription h6 {
  color: #222;
  text-transform: capitalize;
  font-weight: 600;
}

.product-discription ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

.product-discription ul li .size-button {
  border-radius: 100%;
  border: 0;
  padding: 10px 16px;
}

.product-right .color-variant li.active {
  border: 1px solid black;
  position: relative;
}

.product-right .color-variant li.active:after {
  content: "";
  top: 10px;
  right: 4px;
  height: 15px;
  width: 15px;
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
}

.product-right .size-box ul li {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #f7f7f7;
  text-align: center;
}

.product-right .size-box ul li.active button {
  box-shadow: 1px 1px 3px #77777769;
  background-color: #f7f7f7;
}
.product-right .size-box ul li button {
  background-color: #fff;
}

.product-right .color-variant li {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.product-right .color-variant {
  padding-inline-start: 0px;
}

.color-variant li {
  display: inline-block;
  border-radius: 100%;
  margin-right: 5px;
  transition: all 0.1s ease;
  vertical-align: middle;
}

.product-right .form-control {
  border-radius: 0px;
  padding: 6px 16px;
}

.product-right .form-control {
  width: 80px;
  text-align: center;
  margin: 0;
  height: 45px;
}

.product-right .quantity-box .input-group {
  justify-content: initial;
  width: initial;
}

.btn-arrow {
  background: #ffffff !important;
  border: 1px solid #ced4da;
  border-radius: 0;
  background-color: transparent;
  color: #777777;
  cursor: pointer;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 900;
  line-height: 1;
  z-index: 0;
}

.btn {
  font-weight: normal;
}

.btn-solid {
  &:disabled {
    color: #fff;
  }
  font-weight: 500 ;
}

.product-buttons {
  display: flex;
  gap: 10px;
  margin: 12px 0px;
}

:host ::ng-deep .mat-tab-label {
  color: #212529;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 1;
}

:host ::ng-deep .mat-tab-label:focus:not(.mat-tab-disabled) {
  color: #ff4c3b;
}

:host ::ng-deep .mat-ink-bar {
  background-color: #ff4c3b !important;
}

:host ::ng-deep .mat-tab-label-active {
  color: #ff4c3b;
}

:host ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}
:host ::ng-deep .mat-tab-header-pagination-chevron {
  border-color: #222222;
}

mat-tab-group p {
  line-height: 2;
  color: #777777;
}

mat-tab-group label {
  text-transform: capitalize;
  color: #212529;
}

.product-title {
  font-weight: bold;
  text-transform: capitalize;
  color: #222;
}

.qty-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .input-group {
    justify-content: unset;
    width: unset;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    span button {
      &:hover {
        box-shadow: none;
      }
      background: #ffffff !important;
      border: 1px solid #ced4da;
      height: 100%;
      color: #777;
      cursor: pointer;
      padding-left: 12px;
      font-size: 12px;
      font-weight: 900;
      line-height: 1;
      z-index: 0;
    }
  }
}
