<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <div class="collection-filter-block">
          <div class="product-service">
            <div class="media">
              <img
                class="img-fluid"
                width="40"
                height="40"
                src="assets/images/van.svg"
                alt="van"
              />
              <div class="media-body">
                <h4>free shipping</h4>
                <p>free shipping world wide</p>
              </div>
            </div>

            <div class="media">
              <img
                class="img-fluid"
                width="40"
                height="40"
                src="assets/images/247.svg"
                alt="van"
              />
              <div class="media-body">
                <h4>24 x 7 service</h4>
                <p>online service for new customer</p>
              </div>
            </div>

            <div class="media">
              <img
                class="img-fluid"
                width="40"
                height="40"
                src="assets/images/mic.svg"
                alt="van"
              />
              <div class="media-body">
                <h4>festival offer</h4>
                <p>new online special festival offer</p>
              </div>
            </div>

            <div class="media">
              <img
                class="img-fluid"
                width="40"
                height="40"
                src="assets/images/card.svg"
                alt="van"
              />
              <div class="media-body">
                <h4>online payment</h4>
                <p>contrary to popular belief.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-sm-12 col-xs-12">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-lg-6">
              <owl-carousel-o
                #mainOwl
                (changed)="onChange($event)"
                [options]="customOptions"
              >
                <ng-container *ngFor="let variant of product.variants">
                  <ng-template carouselSlide [id]="variant.id">
                    <img [src]="variant.src" />
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
              <div class="col-12 py-2">
                <owl-carousel-o [options]="options">
                  <ng-template
                    carouselSlide
                    *ngFor="let variant of product.variants"
                  >
                    <div
                      class="border m-1"
                      [ngClass]="{ active: variantId == variant.id }"
                    >
                      <img
                        [src]="variant.src"
                        (click)="changeVariant(mainOwl, variant.id)"
                      />
                    </div>
                  </ng-template>
                </owl-carousel-o>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="product-right">
                <h2>{{ product.name }}</h2>
                <h4 *ngIf="product.offer > 0">
                  <del>${{ product.price.toFixed(2) }}</del>
                  &nbsp;
                  <span>{{ discountPercentage }}% off</span>
                </h4>
                <h3>${{ (product.price - product.offer).toFixed(2) }}</h3>

                <ul class="color-variant">
                  <li
                    *ngFor="let variant of product.variants"
                    [style]="'background-color:' + variant.color"
                    [ngClass]="{
                      active: variantId === variant.id,
                      border: variant.color === 'white'
                    }"
                    (click)="changeVariant(mainOwl, variant.id)"
                  ></li>
                </ul>

                <div class="product-inventory">
                  <p>hurry! we have only {{ sizeAmount }} products in stock.</p>
                  <div class="inventory">
                    <span style="width: 95%"></span>
                  </div>
                </div>
                <div class="product-discription mt-2 border-dashed">
                  <div class="size-box">
                    <h6>select size</h6>
                    <ng-container
                      *ngFor="let variant of product.variants; let i = index"
                    >
                      <ul *ngIf="variant.id === variantId">
                        <li
                          *ngFor="let size of variant.sizes; let j = index"
                          [ngClass]="{ active: activeSize === size.size }"
                        >
                          <button
                            class="size-button"
                            (click)="changeInStock(size.size, i, j)"
                          >
                            {{ size.size.toUpperCase() }}
                          </button>
                        </li>
                      </ul>
                    </ng-container>
                  </div>

                  <h5 *ngIf="sizeAmount < 0">out of stock</h5>
                  <h5 *ngIf="sizeAmount > 0">In stock</h5>
                  <h6>quantity</h6>

                  <div class="qty-box">
                    <div class="input-group">
                      <span class="input-group-prepend">
                        <button
                          type="button"
                          data-type="minus"
                          class="btn quantity-left-minus"
                          (click)="
                            +input.value > 1
                              ? (input.value = (+input.value - 1).toString())
                              : ''
                          "
                        >
                          <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </button>
                      </span>
                      <input
                        #input
                        type="text"
                        [value]="1"
                        [disabled]="true"
                        class="form-control input-number"
                      />
                      <span class="input-group-prepend">
                        <button
                          type="button"
                          data-type="plus"
                          class="btn quantity-right-plus"
                          (click)="
                            +input.value < sizeAmount
                              ? (input.value = (+input.value + 1).toString())
                              : ''
                          "
                        >
                          <fa-icon [icon]="faArrowRight"></fa-icon>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="product-buttons">
                  <button
                    class="btn btn-solid fw-bold"
                    [disabled]="sizeAmount == 0"
                    (click)="addToCart(+input.value)"
                  >
                    add to cart
                  </button>
                  <button
                    class="btn btn-solid fw-bold"
                    [disabled]="sizeAmount == 0"
                    (click)="checkOut(input.valueAsNumber)"
                  >
                    buy now
                  </button>
                </div>
                <div class="border-dashed">
                  <h6 class="product-title">product details</h6>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Cum voluptas consequuntur deleniti alias omnis quidem! Non
                    ipsam dicta voluptates nostrum animi vitae nemo cumque, nisi
                    ipsa reprehenderit expedita neque ab voluptatum quasi
                    aliquam dolorem id exercitationem! Voluptatem, sit unde
                    repellat dolores ducimus molestiae corrupti consequatur
                    mollitia numquam perferendis non ab.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-tab-group
          [disablePagination]="false"
          [contentTabIndex]="0"
          [selectedIndex]="0"
        >
          <div class="container">
            <mat-tab label="Description">
              <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                reprehenderit, quasi nulla dicta vel optio necessitatibus est
                beatae magni aut eius mollitia id soluta doloribus dolorum fuga
                nam ipsa dolore facere neque, sint officia. Deleniti at quas
                alias qui voluptatibus, esse velit ipsum similique nisi
                architecto quaerat odio ab voluptates eum illum in magni quidem
                illo iure doloribus laboriosam eaque sit molestiae maiores?
                Corporis quam veniam in magni itaque totam.
              </p>
            </mat-tab>

            <mat-tab label="Write Review">
              <div class="d-flex gap-2 align-items-center">
                <label for="ratin">rating</label>
                <bar-rating [rate]="5" [(ngModel)]="rate"></bar-rating>
              </div>
              <form class="theme-form" [formGroup]="ratingForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group my-2">
                      <label for="name">Name</label
                      ><input
                        type="text"
                        id="name"
                        placeholder="Enter Your name"
                        formControlName="name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group my-2">
                      <label for="email">Email</label
                      ><input
                        type="text"
                        id="email"
                        placeholder="Email"
                        formControlName="email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group my-2">
                      <label for="review">Review Title</label
                      ><input
                        type="text"
                        id="review"
                        placeholder="Enter your Review Subjects"
                        formControlName="title"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group my-2">
                      <label for="review">Review Body</label
                      ><textarea
                        placeholder="Wrire Your Testimonial Here"
                        rows="6"
                        class="form-control"
                        formControlName="body"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button
                      class="btn btn-solid my-3"
                      [disabled]="ratingForm.invalid"
                      (click)="sendRate()"
                    >
                      Submit Your Review
                    </button>
                  </div>
                </div>
              </form>
            </mat-tab>
          </div>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
