<section class="cart-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table cart-table">
            <thead>
              <th>order ID</th>
              <th>status</th>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>
                  <p>{{ order.id }}</p>
                </td>

                <td>
                  <p>{{ order.status }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
