<section class="cart-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table cart-table">
            <thead>
              <th>order ID</th>
              <th>total</th>
              <th>status</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href=""> 45781861818 </a>
                </td>
                <td>
                  <h2>$220</h2>
                </td>

                <td>
                  <p>deliverd</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
