<section class="py-5 light-layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <fa-icon
            [icon]="faCheckCircle"
            [styles]="{ color: '#4ead4e' }"
            [size]="'5x'"
          ></fa-icon>
          <h2 class="mt-1">thank you</h2>
          <p>Payment Is Successfully Processsed And Your Order Is On The Way</p>
          <p>Transaction ID:267676GHERT105467</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-order">
          <h3>your order detail</h3>
          <div class="row product-details">
            <div class="col-3">
              <img
                src="assets/images/39.jpg"
                alt="order-img"
                height="130"
                class="img-fluid"
              />
            </div>
            <div class="col-3 order-detail">
              <div>
                <h4>product name</h4>
                <h5>cotton shirt</h5>
              </div>
            </div>
            <div class="col-3 order-detail">
              <div>
                <h4>quantity</h4>
                <h5>5</h5>
              </div>
            </div>
            <div class="col-3 order-detail">
              <div>
                <h4>price</h4>
                <h5>$55.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="total-sec">
          <ul>
            <li>
              subtotal

              <span>$55.00</span>
            </li>
            <li>
              shipping

              <span>$12.00</span>
            </li>
            <li>
              Tax

              <span>$10.00</span>
            </li>
          </ul>
        </div>
        <div class="final-total">
          <h3>total <span>$77.00</span></h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row order-success-sec">
          <div class="col-sm-6">
            <h4>summary</h4>
            <div class="order-detail">
              <ul>
                <li>order ID: 5563853658932</li>
                <li>order date: October 22, 2020</li>
                <li>order total: $907.28</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <h4>shipping address</h4>
            <div class="order-detail">
              <ul>
                <li>gerg harvell</li>
                <li>568, suite ave.</li>
                <li>Austrlia, 235153</li>
                <li>Contact No. 123456789</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 payment-mode">
            <h4>payment method</h4>
            <p>
              Pay on Delivery (Cash/Card). Cash on delivery (COD) available.
              Card/Net banking acceptance subject to device availability.
            </p>
          </div>
          <div class="col-md-12">
            <div class="delivery-sec">
              <h3>expected date of delivery</h3>
              <h2>october 22, 2023</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
