<section class="py-5 light-layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <fa-icon
            [icon]="faCheckCircle"
            [styles]="{ color: '#4ead4e' }"
            [size]="'5x'"
          ></fa-icon>
          <h2 class="mt-1">thank you</h2>
          <p>Payment Is Successfully Processsed And Your Order Is On The Way</p>
          <p>Transaction ID: {{ transaction.paymentInfo.transactionId }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-order">
          <h3>your order detail</h3>
          <div
            class="row product-details"
            *ngFor="let product of transaction.productInfo"
          >
            <div class="col-3">
              <img
                [src]="product.variant.src"
                [alt]="product.item.name"
                class="img-fluid"
              />
            </div>
            <div class="col-3 order-detail">
              <div>
                <h4>product name</h4>
                <h5>{{ product.item.name }}</h5>
              </div>
            </div>
            <div class="col-3 order-detail">
              <div>
                <h4>quantity</h4>
                <h5>{{ product.quantity }}</h5>
              </div>
            </div>
            <div class="col-3 order-detail">
              <div>
                <h4>price</h4>
                <h5>
                  ${{
                    (product.item.price - product.item.offer) * product.quantity
                  }}
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="total-sec">
          <ul>
            <li>
              subtotal

              <span>${{ transaction.paymentInfo.amount }}</span>
            </li>
            <li>
              shipping

              <span>${{ transaction.shippingInfo.cost }}</span>
            </li>
            <li>
              Tax
              <span>$10.00</span>
            </li>
          </ul>
        </div>
        <div class="final-total">
          <h3>
            total
            <span
              >${{
                transaction.paymentInfo.amount +
                  transaction.shippingInfo.cost +
                  10
              }}</span
            >
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row order-success-sec">
          <div class="col-sm-6">
            <h4>summary</h4>
            <div class="order-detail">
              <ul>
                <li>order ID: {{ transaction.orderId }}</li>
                <li>order date: {{ transaction.createdAt | date }}</li>
                <li>
                  order total: ${{
                    transaction.paymentInfo.amount +
                      transaction.shippingInfo.cost +
                      10
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <h4>shipping address</h4>
            <div class="order-detail">
              <ul>
                <li>
                  {{ transaction.customerInfo.addresses[1].addressLine1 }}
                </li>
                <li>
                  {{ transaction.customerInfo.addresses[1].country }}
                  ,
                  {{ transaction.customerInfo.addresses[1].postalCode }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 payment-mode">
            <h4>payment method</h4>
            <p>{{ transaction.paymentInfo.method }}</p>
          </div>
          <div class="col-md-12">
            <div class="delivery-sec">
              <h3>expected date of delivery</h3>
              <h2>{{ transaction.updatedAt | date }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
