<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>create account</h3>
        <div class="theme-card">
          <form [formGroup]="signupForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="First Name">first name</label>
                  <input
                    formControlName="firstName"
                    class="form-control"
                    placeholder="First Name"
                    type="text"
                  />
                  <span class="ps-3 text-danger">{{ errors.firstName }}}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last name">last name</label>
                  <input
                    formControlName="lastName"
                    class="form-control"
                    placeholder="Last Name"
                    type="text"
                  />
                  <span class="ps-3 text-danger">{{ errors.lastName }}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="gender">gender</label>
                  <select formControlName="gender" class="form-control">
                    <option [selected]="true" [disabled]="true">
                      select your gender
                    </option>
                    <option>Male</option>
                    <option>female</option>
                  </select>
                  <span class="ps-3 text-danger">{{ errors.gender }}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">phone</label>
                  <input
                    class="form-control"
                    formControlName="phone"
                    placeholder="Enter Your phone number"
                    type="text"
                  />
                  <!-- <span *ngIf="errors" class="ps-3 text-danger">phone number is required</span> -->
                  <span class="ps-3 text-danger">{{ errors.phone }}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">email</label>
                  <input
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                    type="email"
                  />
                  <!-- <span *ngIf="errors" class="ps-3 text-danger">email is required</span> -->
                  <span class="ps-3 text-danger">{{ errors.email }}</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">password</label>
                  <input
                    class="form-control"
                    formControlName="password"
                    placeholder="Enter Your Password"
                    type="password"
                  />
                  <span class="ps-3 text-danger">{{ errors.password }}</span>
                </div>
              </div>
            </div>

            <button
              class="btn btn-solid"
              (click)="signup()"
              [disabled]="signupForm.invalid"
            >
              create account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
