<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>create account</h3>
        <div class="theme-card">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="First Name">first name</label>
                  <input
                    class="form-control"
                    placeholder="First Name"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last name">last name</label>
                  <input
                    class="form-control"
                    placeholder="Last Name"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">email</label>
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">password</label>
                  <input
                    class="form-control"
                    placeholder="Enter Your Password"
                    type="password"
                  />
                </div>
              </div>
            </div>

            <div class="btn btn-solid">create account</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
