.theme-card {
  background-color: #fafafa;
  padding: 30px;
}
h3 {
  text-transform: uppercase;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

.theme-card .form-group label {
  text-transform: capitalize;
  font-weight: bold;

}
