<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div
      class="banner cover-1 d-flex align-items-center justify-content-center"
    >
      <div class="container">
        <div class="col">
          <div class="w-50 text-center">
            <h4>Welcome To Fashion</h4>
            <h1>MEN FASHION</h1>
            <a [routerLink]="'/collection'" class="btn rounded-0 btn-gradient mt-3">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div
      class="banner cover-2 d-flex align-items-center justify-content-center"
    >
      <div class="container">
        <div class="col">
          <div class="w-50 text-center">
            <h4>Welcome To Fashion</h4>
            <h1>WOMEN FASHION</h1>
            <a [routerLink]="'/collection'" class="btn rounded-0 btn-gradient mt-3">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <a routerLink="/collection">
        <div class="content">
          <div class="position-relative w-100">
            <img class="w-100" src="assets/images/banner-men.jpg" alt="" />
            <div class="text">
              <h4>save 50%</h4>
              <h2>MEN</h2>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <a routerLink="/collection">
        <div class="content">
          <div class="position-relative w-100">
            <img class="w-100" src="assets/images/banner-women.jpg" alt="" />
            <div class="text">
              <h4>save 50%</h4>
              <h2>WOMEN</h2>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="title">
    <h4>Special Offer</h4>
    <h2 class="title1">TOP COLLECTION</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-text">
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae
            facere voluptates fuga recusandae reiciendis excepturi,
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <owl-carousel-o [options]="productOptions">
    <ng-template carouselSlide>
      <app-product></app-product>

    </ng-template>
    <ng-template carouselSlide>
      <app-product></app-product>

    </ng-template>
    <ng-template carouselSlide>
      <app-product></app-product>

    </ng-template>
    <ng-template carouselSlide>
      <app-product></app-product>

    </ng-template>
  </owl-carousel-o>
</div>

<div class="container-fluid p-0">
  <div class="full-banner">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="float-start">
            <h2>2022</h2>
            <h3>fashion trends</h3>
            <h4>special offer</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="container">
    <div class="title">
      <h4>Exclusive Products</h4>
      <h2 class="title1">SPECIAL PRODUCTS</h2>
    </div>
    <mat-tab-group
      mat-align-tabs="center"
      [disablePagination]="false"
      [@.disabled]="true"
      [contentTabIndex]="0"
      [selectedIndex]="0"
    >
      <div class="container">
        <mat-tab label="new products">
          <div class="row">
            <div class="col-md-3" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
              <app-product></app-product>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="best sellers">
          <div class="row">
            <div class="col-md-3" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
              <app-product></app-product>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="featured products"
          ><div class="row">
            <div class="col-md-3" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
              <app-product></app-product>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="on sale">
          <div class="row">
            <div class="col-md-3" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
              <app-product></app-product>
            </div>
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
</div>

<div class="container border-section my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="media">
        <img width="60px" height="60px" src="assets/images/van.svg" alt="" />
        <div class="media-body">
          <h4>free shipping</h4>
          <p>Free Shipping World Wides</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 service-block">
      <div class="media">
        <img width="60px" height="60px" src="assets/images/247.svg" alt="" />
        <div class="media-body">
          <h4>free shipping</h4>
          <p>Free Shipping World Wides</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 service-block">
      <div class="media">
        <img width="60px" height="60px" src="assets/images/mic.svg" alt="" />
        <div class="media-body">
          <h4>free shipping</h4>
          <p>Free Shipping World Wides</p>
        </div>
      </div>
    </div>
  </div>
</div>

