<section class="cart-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 *ngIf="cart && cart.length === 0">No Items in the cart</h1>
        <div class="table-responsive" *ngIf="cart && cart.length > 0">
          <table class="table cart-table">
            <thead>
              <th>image</th>
              <th>product name</th>
              <th>price</th>
              <th>quantity</th>
              <th>action</th>
              <th>total</th>
            </thead>
            <tbody>
              <tr *ngFor="let order of cart; let i = index">
                <td>
                  <a href="">
                    <img
                      height="90px"
                      [src]="order.variant.src"
                      [alt]="order.item.name"
                    />
                  </a>
                </td>
                <td>
                  <a [href]="order.item._id"> {{ order.item.name }} </a>
                </td>
                <td>
                  <h2>${{ order.item.price - order.item.offer }}</h2>
                </td>
                <td>
                  <div class="qty-box">
                    <div class="input-group">
                      <span class="input-group-prepend" *ngIf="!isMobile">
                        <button
                          class="btn"
                          (click)="updateQuantity('-', i, order.quantity)"
                        >
                          <fa-icon [icon]="faArrowLeft"></fa-icon>
                        </button>
                      </span>
                      <input
                        type="text"
                        [disabled]="true"
                        [value]="order.quantity"
                        class="form-control input-number"
                      />
                      <span class="input-group-prepend" *ngIf="!isMobile">
                        <button
                          class="btn"
                          (click)="updateQuantity('+', i, order.quantity)"
                        >
                          <fa-icon [icon]="faArrowRight"></fa-icon>
                        </button>
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-light"
                    (click)="deleteItem(i, order.orderId)"
                  >
                    <fa-icon [icon]="faX"></fa-icon>
                  </button>
                </td>
                <td>
                  <h2 class="td-color">
                    ${{
                      (order.item.price - order.item.offer) * order.quantity
                    }}
                  </h2>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end">total price:</td>
                <td>${{ totalPrice }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row cart-buttons">
      <div class="col-6">
        <a [routerLink]="'/collection'" class="btn btn-solid"
          >continue shopping</a
        >
      </div>
      <div class="col-6 pe-1 text-end" *ngIf="cart && cart.length > 0">
        <a [routerLink]="'/checkout'" class="btn btn-solid">check out</a>
      </div>
    </div>
  </div>
</section>
