<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="block-content">
          <ul>
            <li>
              <a routerLinkActive="active" [routerLink]="'account-info'">account info</a>
            </li>
            <li>
              <a routerLinkActive="active" [routerLink]="'address-book'">address book</a>
            </li>
            <li>
              <a routerLinkActive="active" [routerLink]="'my-orders'">my orders</a>
            </li>
            <li>
              <a routerLinkActive="active" [routerLink]="'/wishlist'">my whislist</a>
            </li>
            <li>
              <a routerLinkActive="active" [routerLink]="'profile'">my account</a>
            </li>

            <li>
              <a routerLinkActive="active" [routerLink]="'change-password'">change password</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
