<section class="py-5">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h3>billing details</h3>
          <form>
            <div class="row checkout">
              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="first name" class="form-label">first name</label>
                <input type="text" class="form-control" />
                <label for="error" class="error">first name is required</label>
              </div>

              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="last name" class="form-label">last name</label>
                <input type="text" class="form-control" />
                <label for="error" class="error">last name is required</label>
              </div>

              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="phone" class="form-label">phone</label>
                <input type="tel" class="form-control" />
                <label for="error" class="error">phone no is required</label>
              </div>

              <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" />
                <label for="error" class="error">email is required</label>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label for="country" class="form-label">country</label>
                <select class="form-control">
                  <option value="egypt">egypt</option>
                  <option value="uk">uk</option>
                  <option value="uae">uae</option>
                </select>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label for="address" class="form-label">address</label>
                <input type="text" class="form-control" />
                <label for="error" class="error">address is required</label>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label for="town/city" class="form-label">town/city</label>
                <input type="text" class="form-control" />
                <label for="error" class="error">town/city is required</label>
              </div>

              <div class="form-group col-md-12 col-sm-6 col-xs-12">
                <label for="state" class="form-label">state</label>
                <input type="text" class="form-control" />
              </div>

              <div class="form-group col-md-12 col-sm-6 col-xs-12">
                <label for="postal code" class="form-label">postal code</label>
                <input type="text" class="form-control" />
                <label for="error" class="error">postacode is required</label>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="checkout-details">
            <div class="order-box">
              <div class="title-box row">
                <div class="col-6">
                  <span>product</span>
                </div>
                <div class="col-6">
                  <span> total </span>
                </div>
              </div>
              <div class="sub-items row">
                <div class="col-6">
                  <span> Pink Slim Shirt × 1 </span>
                </div>
                <div class="col-6">
                  <span class="price">$25.10</span>
                </div>
                <div class="col-6">
                  <span>SLim Fit Jeans × 1</span>
                </div>
                <div class="col-6">
                  <span class="price">$555.00</span>
                </div>
              </div>
              <div class="sub-total row">
                <div class="col-6">
                  <span> subtotal </span>
                </div>
                <div class="col-6">
                  <span class="price"> $380.10 </span>
                </div>
                <div class="col-6">
                  <span> shipping </span>
                </div>
                <div class="col-6">
                  <div class="shipping-option">
                    <input type="checkbox" />
                    <label for="free shipping">free shipping</label>
                  </div>
                  <div class="shipping-option">
                    <input type="checkbox" />
                    <label for="local pickup">local pickup</label>
                  </div>
                </div>
              </div>
              <div class="total row">
                <div class="col-6">
                  <span>total</span>
                </div>
                <div class="col-6">
                  <span class="price">$620.00</span>
                </div>
              </div>
            </div>
            <div class="payment-box">
              <div class="upper-box">
                <ul>
                  <li>
                    <div class="radio-option">
                      <input type="radio" name="payment" />
                      <label for="cash on delivery">cash on delivery</label>
                    </div>
                  </li>

                  <li>
                    <div class="radio-option">
                      <input type="radio" name="payment" />
                      <label for="check payments">check payments</label>
                    </div>
                  </li>

                  <li>
                    <div class="radio-option">
                      <input type="radio" name="payment" />
                      <label for="paypal">paypal</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="text-end">
                <a [routerLink]="'/order-success'" class="btn btn-solid">place order</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
