<section class="py-5">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h3>billing details</h3>

          <div class="form-group col-md-12 col-sm-6 col-xs-12">
            <ngx-stripe-card
              [options]="cardOptions"
              [elementsOptions]="elementsOptions"
            ></ngx-stripe-card>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="checkout-details">
            <div class="order-box">
              <div class="title-box row">
                <div class="col-6">
                  <span>product</span>
                </div>
                <div class="col-6">
                  <span> total </span>
                </div>
              </div>
              <div class="sub-items row">
                <ng-container *ngFor="let order of cart">
                  <div class="col-6">
                    <span>
                      {{ order?.item?.name }} × {{ order?.quantity }}
                    </span>
                  </div>
                  <div class="col-6">
                    <span class="price">${{ order.item.price }}</span>
                  </div>
                </ng-container>
              </div>
              <div class="sub-total row">
                <div class="col-6">
                  <span> subtotal </span>
                </div>
                <div class="col-6">
                  <span class="price"> ${{ subtotal }} </span>
                </div>
                <div class="col-6">
                  <span> shipping </span>
                </div>
                <div class="col-6">
                  <div class="shipping-option">
                    <input type="checkbox" (change)="updateTotal($event)" />
                    <label for="local pickup">local pickup</label>
                  </div>
                </div>
              </div>
              <div class="total row">
                <div class="col-6">
                  <span>total</span>
                </div>
                <div class="col-6">
                  <span class="price"> ${{ totalPrice }}</span>
                </div>
              </div>
            </div>
            <div class="payment-box">
              <div class="upper-box">
                <ul>
                  <li>
                    <div class="radio-option">
                      <input type="radio" name="payment" />
                      <label for="check payments">stripe</label>
                    </div>
                  </li>

                  <li>
                    <div class="radio-option">
                      <input type="radio" name="payment" />
                      <label for="paypal">paypal</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="text-end">
                <button (click)="checkout()" class="btn btn-solid">
                  place order
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
