<section class="fp-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="theme-form">
          <h2>forget your password</h2>
          <div class="row">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Your Email"
                  />
                </div>
              </div>
              <button class="btn btn-solid">sumbit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
